DelayedDealloc.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcworkspacedata
DelayedDealloc.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/xcschememanagement.plist
